input, nb-select, textarea {
    margin-bottom: 15px;
    font-family:Palatino Linotype, Book Antiqua, Palatino, serif; /* When specifying this, you can use both px and % */
}
p{
	font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
}