@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
img{
	widht:40px; height:40px; border-radius:10px;
}
a{
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
nb-layout-header{
	background-color: #91abff;
}