input, nb-select, textarea {
    margin-bottom: 15px; /* When specifying this, you can use both px and % */
}
ng-card{
	font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
}
p{
	font-family:Palatino Linotype, Book Antiqua, Palatino, serif;
}