<nb-card accent="info">
  <nb-card-header>Detail Ruangan</nb-card-header>
  <nb-card-body>
    <p>Nama Ruangan : {{ data["nama"] }}</p>
    <p>Lokasi : {{ data["lokasi"] }}</p>
    <p>OPD : {{ data["nama_skpd"] }}</p>
    <p>Kapasitas : {{ data["kapasitas"] }}</p>
    <p>Koordinat X : {{ data["koor_x"] }}</p>
    <p>Koordinat Y : {{ data["koor_y"] }}</p>
    <p>Contact : {{ data["contact"] }}</p>
    <p>Keterangan : {{ data["keterangan"] }}</p>
  </nb-card-body>
</nb-card>
<nb-card accent="info">
  <nb-card-header>Fasilitas Ruangan</nb-card-header>
  <nb-card-body>
    <p>Meja Pimpinan : {{ data["meja_pimpinan"] }}</p>
    <p>Podium : {{ data["podium"] }}</p>
    <p>Ruang Transit : {{ data["ruang_transit"] }}</p>
    <p>Ruang Makan : {{ data["ruang_makan"] }}</p>
    <p>Microphone : {{ data["microphone"] }}</p>
    <p>Papan Tulis : {{ data["papan_tulis"] }}</p>
    <p>Meja Peserta : {{ data["meja_peserta"] }}</p>
    <p>Air Conditioner : {{ data["ac"] }}</p>
    <p>LCD TV : {{ data["lcd_tv"] }}</p>
    <p>Proyektor : {{ data["projektor"] }}</p>
  </nb-card-body>
</nb-card>
