@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  // add your variables here like:
  // layout-background-color:#64b2cd,
  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,
  select-min-width:5rem,
  calendar-width:20rem,
 calendar-cell-active-text-color: #274bdb,
 calendar-header-background-color:#0a8f19,
  calendar-cell-selected-background-color:#91abff,
  calendar-header-text-font-family:Palatino Linotype,
   card-header-text-font-family: Palatino Linotype,
  card-text-font-family:Palatino Linotype,
  menu-text-font-family:Palatino Linotype,
  select-text-font-family:Palatino Linotype,
  select-outline-color:#91abff,
  select-hero-background-color:#91abff,
  select-outline-adjacent-border-style:solid,
  select-outline-adjacent-border-width:2px,
  menu-item-icon-color:#91abff,
  icon-primary-color:#91abff,
  card-header-success-background-color:#91abff,
), default, default);
